.header {
    grid-area: h;
    top: 0;
    background-color: #7a7cff;
}

.header img {
    height: 60px;
    padding-left: 2px;
}

.loginBlock {
    float: right;
    color: #f9e2ff;
    margin: 5px;
}

.loginBlock a {
    color: aliceblue;
    text-decoration: none;
}